# dot files
.build/
.DS_Store
.esm-cache
.nyc_output
.tmp/
.vscode
*.env

# debug
npm-debug.log*
yarn-error.log*

# folders
./test*/
coverage*/
demo*/
node_modules/

# .js files
gulpfile*.js

# Do not ignore
!**/json.d.ts
