name: ci

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
    branches:
      - '*'
    tags-ignore:
      - '*'

jobs:
  build:
    name: ${{ matrix.os }} ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 120
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        target: [12.x, 14.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node@${{ matrix.target }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.target }}

      - name: List versions
        run: |
          node -v && npm -v && which npm

      - name: Install dependencies
        run: |
          npm ci --quiet

      - name: Lint
        run: |
          npm run lint

      - name: Build
        run: |
          npm run build:test

      - name: Check build
        shell: bash
        run: |
          pwd && ls -la

      - name: Test
        run: |
          npm run jest

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v1
        if: success()
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage/lcov.info
          flags: unit_tests
